<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>
         transaction
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="" padding>

<div class="flex">
  <ion-button color="success" shape="round" type="submit" (click)="butEnvoie()">
    <ion-icon slot="start" name="send"></ion-icon>
    envoie
  </ion-button>
  <ion-button color="primary" shape="round" type="submit" (click)="butRetrait()">
    <ion-icon slot="start" name="checkmark-circle"></ion-icon>
    retrait
  </ion-button>
</div>
    <div *ngIf="trans">
    <form #form="ngForm" (ngSubmit)="verifier(form)">
        <ion-grid>
            <ion-row color="" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                  <h3>retrait</h3>
                </div>
                <div padding>
                    <ion-item>
                      <ion-input name="codeSecret" type="number" placeholder="codeSecret" #codeSecret="ngModel" [(ngModel)]="valide.codeSecret"   required></ion-input>
                   </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button  type="submit">verifier</ion-button>
        </form >
          <ion-list  *ngIf="code">
              <ion-item >
                  <ion-label>
                      <h2>montant {{code.montantTransaction}} fcfa</h2>
                    <h3> expéditeur {{code.expediteur.prenomE}}  {{code.expediteur.nomE}}</h3>
                  </ion-label>
                </ion-item>
                <form #form="ngForm" (ngSubmit)="retrait(form)">
                <div padding>
                    <ion-item>
                      <ion-input name="cni" type="number" placeholder="cni" #cni="ngModel" [(ngModel)]="valide.cni"   required></ion-input>
                   </ion-item>
                </div>
                <ion-button  type="submit">retirer</ion-button>
                </form>
          </ion-list>
      

     
  
    </div>
     

 <div *ngIf="!trans">
  <form #form="ngForm" (ngSubmit)="envoi(form)">
    <ion-grid *ngIf="!next">
      <ion-row color="" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Expéditeur</h3>
          </div>
          <div padding>
            <ion-item>
                  <ion-input name="nomE" type="text" placeholder="nom" #nomE="ngModel" [(ngModel)]="EnvoiData.nomE" class="form-control"  required></ion-input>
                  <div class="validation-error text-danger" *ngIf="nomE.invalid && nomE.touched">je veux savoir votre nom.</div>
                </ion-item>
            <ion-item>
                    <ion-input name="prenomE" type="text" placeholder="prenom" #prenomE="ngModel" [(ngModel)]="EnvoiData.prenomE"  class="form-control" required></ion-input>
                    <div class="validation-error text-danger" *ngIf="prenomE.invalid && prenomE.touched">je veux savoir votre prenom aussi.</div>
                  </ion-item>
              <ion-item>
                  <ion-input name="telephoneE" type="number" placeholder="telephone" #telephoneE="ngModel" [(ngModel)]="EnvoiData.telephoneE"  class="form-control" required></ion-input>
                  <div class="validation-error text-danger" *ngIf="telephoneE.invalid && telephoneE.touched">je veux savoir votre numéro.</div>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="next">
      <ion-row color="" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Bénéficiaire</h3>
          </div>
          <div padding>
            <ion-item>
                  <ion-input name="nomb" type="text" placeholder="nom" #nomb="ngModel" [(ngModel)]="EnvoiData.nomb" class="form-control"  required></ion-input>
                  <div class="validation-error text-danger" *ngIf="nomb.invalid && nomb.touched">je veux savoir votre nom.</div>
                </ion-item>
            <ion-item>
                    <ion-input name="prenomb" type="text" placeholder="prenom" #prenomb="ngModel" [(ngModel)]="EnvoiData.prenomb"  class="form-control" required></ion-input>
                    <div class="validation-error text-danger" *ngIf="prenomb.invalid && prenomb.touched">je veux savoir votre prenom aussi.</div>
                  </ion-item>
              <ion-item>
                  <ion-input name="telephoneb" type="number" placeholder="telephone" #telephoneb="ngModel" [(ngModel)]="EnvoiData.telephoneb"  class="form-control" required></ion-input>
                  <div class="validation-error text-danger" *ngIf="telephoneb.invalid && telephoneb.touched">je veux savoir votre numéro.</div>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="last">
      <ion-row color="" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Montant</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="montantTransaction" type="number" placeholder="montant" #montantTransaction="ngModel" [(ngModel)]="EnvoiData.montantTransaction"  class="form-control" (keyup)="frais($event)" required></ion-input>
              <div class="validation-error text-danger" *ngIf="montantTransaction.invalid && montantTransaction.touched">je veux savoir le montant .</div>
        </ion-item>
        <ion-item *ngIf="tarif">
          <div >frais {{tarif.frais}} fcfa</div>
         <ion-item> <ion-label>avec</ion-label></ion-item>
           
            <ion-toggle name="ok" #ok="ngModel" [(ngModel)]="EnvoiData.ok" color="success"></ion-toggle>
        </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
<div class="row send">
    <ion-button size="small"  (click)="nextForm()"   [disabled]="form.invalid" *ngIf="!next && !last" color="success" >Suivant</ion-button>
    <ion-button color="danger" size="small"  (click)="nextForm()"  [disabled]="form.invalid" *ngIf="next && last" >precedent</ion-button>
    <ion-button color="success" size="small"  (click)="nextForm()"  [disabled]="form.invalid" *ngIf="!last && next" >Suivant</ion-button>
    <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid"  *ngIf="last" expand="block">envoyer</ion-button>
  </div>
</form>
</div>
</ion-content>