<ion-header>
  <ion-toolbar>
    <ion-title>
       fatftat transfert
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
    <div class="padding">
      
      <div class="logo">
        {# <ion-icon color="light" name="sunny"></ion-icon> #}
        <!-- <ion-icon color="light" name="contact"></ion-icon> -->
        <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
    <img src="../../assets/logo.png"> 
      </div>
      <form #form="ngForm" (ngSubmit)="login(form)">

      <ion-item >
        <ion-label color="light">Username</ion-label>
        <ion-input color="light" name="username" type="text"  ngModel required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" name="password" type="password"  ngModel required></ion-input>
      </ion-item>
  
      <ion-item lines="none"  *ngIf="message">
          <ion-label text-center color="danger">{{message}}</ion-label>
        </ion-item>
  <br>
      <ion-button color="light" expand="block" shape="round" fill="outline" type="submit" [disabled]="form.invalid" >Connexion</ion-button>
      <br>
    </form>
    </div>
  </ion-content>
  